*{margin:0; padding: 0;}
body{
    background-color: gray;
}
#wrapper{
    border-bottom: 2px solid gray;
    height: 46px;
    border-bottom: 2px solid rgb(168, 71, 168);
}
#menu{
    padding: 0;
    width: 930px;
    background-color: rgb(35, 44, 41);
    min-height: 38px;
}
#menu li{
    float: left;
    list-style-type: none;
    border-right: 2px solid rgb(58, 47, 47);
    border-left: 2px solid rgb(48, 38, 38);
    position: relative;
    
}
#menu li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style-type: none;
    background-color: rgb(35, 44, 41);
    padding:10px 20px;
    display: block;
    text-align: center;
    transition: 0.5s;
    
}
#menu li:last-child{
    border-right: none;
}
#menu li:first-child{
    border-left:none;
}
#menu li a:hover{
    background-color: rgb(168, 71, 168);
    color: black;

}
#menu li ul{
    list-style-type: none;
    padding: 0px;
    position:absolute;
    left:-9000px;
}
#menu li:hover ul{
    left: 0px;
    transition: 0s;
}
#menu li ul li{
    float:  none;
    border-right: none;
    border-left:none;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 160px;
    position: relative;
}
#menu li ul li:last-child{
    border-bottom: none;
}
#menu li ul li ul{
    position: absolute;
    top:-9999px ;
}
#menu li ul li:hover ul{
    top: -1px;
    left:160px;
    width: 200px;
    min-height: 38px;
}